body {
    background-image: url('Fotos/sosfon.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 25px;
    color: #000; /* Azul oscuro */
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #FFF;
    margin-left: 650px;
    text-align: center;
}

#list {
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-left: 500px;
    font-size: 20px;
}

#titulo {
    text-decoration: underline;
    color: #000; /* Negro */
}

#precio {
    margin-left: 900px;
    color: #000; /* Negro */
}

#Bio {
    width: 80%;
    max-width: 1500px;
    padding: 10px 30px 100px 30px;
    background-color: rgba(126, 197, 223, 0.7); 
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    margin: 100px auto;
    color: #FFF; 
    font-family: 'Roboto', sans-serif;
}

#sos {
    position: absolute;
}

.sinopsis {
    color: #FFF;
    display: flex;
    margin-left: 500px;
    font-family: 'Playfair Display', serif;
    border: 2px solid rgb(127, 238, 255);
    border-radius: 2px;
    padding: 10px;
}

.btn {
    cursor: pointer;
    font-size: 100%;
    border: 0;
    padding: 10px 20px;
    margin-top: 50px;
    background: rgb(87, 174, 241);
    color: #070707; 
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: background 0.3s ease, transform 0.1s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: #222; 
    color: #FFF; 
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000; 
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(77, 151, 216, 0.9); 
    color: #FFF; 
    min-height: 100vh;
    max-width: 100%;
    width: 400px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.rules.show {
    transform: translateX(0);
}

#lista {
    font-family: 'Playfair Display', serif;
    color: #000; 
}

#close-btn {
    margin-left: 5px;
    color: #000; 
}

.menu {
    background-color: rgba(53, 53, 53, 0);
    padding: 15px;
    color: #FFF; 
    margin-top: 30px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.carrito{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: url(Fotos/carrito.jpg);
    background-color: rgba(80, 240, 255, 0.801);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#comprar{
    cursor: pointer;
    font-size: 150%;
    border: 2;
    background: rgb(92, 187, 210);
    color: rgb(7, 7, 7);
    border-radius: 5px;
    margin-left: 850px;
}
